.resultLoader {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.resultLoader .lds-roller {
    position: absolute;
    top: 50%;
    left: 45%;
    bottom: 0;
    z-index: 10013;
}

.result__title {
    margin-bottom: 60px;
}
